
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.form-container h2 {
  text-align: center;
  margin-top: 0;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="date"],
.form-container input[type="number"],
.form-container select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
}

.form-container input[type="submit"] {
  background-color: #00a884;
color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  
margin: 20px;
font-weight: bold;
}

.aouthbutton{
  background-color: #00a884;
color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  
margin: 20px;
font-weight: bold;
}
.aouthbuttongit{
  background-color: #00a884;
color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  
margin: 20px;
font-weight: bold;
}

.form-container input[type="submit"]:hover {
  background-color: rgb(173, 172, 172);
  color: #00a884;
  border-width: 2px;
  border-color: #00a884;
  
}

.form-container a {
  color: #00a884;
  text-decoration: underline;

}

.form-container a:hover {
  text-decoration: underline;
}
form input{
  font-size: 18px;
}
#flx{
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: #00a884;
}
