body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}
.form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 4px;
  box-sizing: border-box;
}
#signup {
  background-color: #00a884;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
#signup:hover {
  background-color: #00a884;
}
#forg {
  font-size: 19px;
  text-decoration: none;
  color: #00a884;
}
#topsignclose {
  background-color: #eae9e9;
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  color: #00a884;
  text-align: center;
  border-radius: 5px;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
button {
  width: 46%;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
}
.social-button {
  background-color: #00a884;
  color: #fff;
}
#createaccount {
  background-color: rgb(128, 85, 185);
  color: white;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

#createaccount:hover {
  background-color: #7c50b9;
}
.social-button2 {
  background-color: #00a884;
  color: white;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.social-button2:hover {
  background-color: #00725a; 
}
@media (max-width: 600px) {
  .form {
      width: 90%;
  }
}