@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Roboto', 'Oswald', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#00a884 0%,
    #00a884 130px, #e2e1de 130px,#e2e1de 100% );
}

.container{
    position: relative;
    width: 93%;
    max-width: 100%;
    background: #fff;
    height: calc(100vh - 40px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06),0 2px 5px 0 rgba(0,0,0,0.06);
    display: flex;
}

.container .leftside{
    position: relative;
    flex: 30%;
    background: #fff;
    
}


.container .rightside{
    
    position: relative;
    flex: 70%;
    background: #fff;
    
    border-right: 1px #161717;
}
.container .rightside::before{
    
    content: "";
    position: absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background: url("https://cdn.wallpapersafari.com/0/23/a9Zw4F.jpg");
}

.header{
position: relative;
width: 100%;
height: 60px;
background: #ededed;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 15px;
}

.userimg{
    position: relative;
    width:40px;
    height:40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-icon {
    display: flex;
}
.nav-icon li{
display: flex;
list-style: none;
cursor: pointer;
font-size: 1.8em;
color: #54656f;
margin-left: 10px;
padding: 0 15px;
}

.search{
    position: relative;
    width: 100%;
    height: 50px;
    background: #fffdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin-top: 5px;
}
.search div{
width: 100%;

}

.search div input{
    width: 100%;
    outline: none;
    border: none;
    background: #f0f2f5;
    padding: 6px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 40px;
    }


    .search div ion-icon{
        position: absolute;
        left: 30px;
        top: 14px;
        font-size: 1.2em;
        
    }


    .chat-list{
        position: relative;
        height: calc(100% - 110px);
        overflow-y: auto;
        
    }

    .chat-list .block{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 15px;
        border-bottom: #161717;
    }

    .chat-list .block .imgbx{
        position: relative;
        width: 45px;
        height: 45px;
        overflow: hidden;
        border-radius: 50%;
        cursor: pointer;
        min-width: 45px;
        margin-right: 10px;

    }
/* hr{
    display: flex;
    width: 75%;
    justify-self: center;
    margin: auto;
    color: red;
 
} */
    .chat-list .block .details{
position: relative;
width: 100%;
    }

    .chat-list .block .details .listhead{
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;

    }

    .chat-list .block .details .listhead h4{
        font-size: 1.1em;
        font-weight: 600;
        color: #161717;
    }

    .chat-list .block .details .listhead .time{
        font-size: 0.75em;
        color: #aaa;
    }

    .message{
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .message p{
        color: #363636;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        font-size: 0.9em;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .message b{
        background: #25d366;
        color: #fff;
        min-width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.75em;
    }

    .chat-list .block .unread .details .listhead .time{
color: 25d366;
    }

    /* .chat-list .block .active{
      
            } */

    .chat-list .block:hover{
        background-color: #f5f5f5;
    }

    .imgtext{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .imgtext h4{
        font-weight: 500;
        line-height: 1.2em;
        margin-left: 15px;
    }

    .imgtext h4 span{
        font-size: 0.8em;
        color: #555;

    }

    .chat-box{
        position: relative;
        width: 100%;
        height: calc(100% - 120px);
        padding: 50px;
        overflow-y: auto;
        
    }

    .messagehere{
        position: relative;
        display: flex;
        width: 100%;
        margin: 5px 0;
        
    }

    .messagehere p{
        position: relative;
        right: 0;
        /* text-align: right; */
        max-width: 65%;
        padding: 12px;
        background: #dcf8c6;
        border-radius: 10px;
        font-size: 0.9em;
       

    }

    .mymessage p::before{
        content: '';
        position: absolute;
        top: 0;
        left: -12px;
        width: 20px;
        height: 20px;
        background: linear-gradient(225deg,white 0%,white 50%, transparent 50%, transparent);
      
    }
    .mymessage p {
        background: #ffffff;
        
    }
    .messagefriend p::before{
        content: '';
        position: absolute;
        top: 0;
        right: -12px;
        width: 20px;
        height: 20px;
        background: linear-gradient(135deg,#dcf8c6 0%,#dcf8c6 50%, transparent 50%, transparent);
      
    }

    .messagehere p span{
        /* display: block; */
        margin-top: 5px;
        font-size: 0.85em;
        opacity: 0.5;
      
    }
    .messagefriend{
        justify-content: flex-end;
    }

    .messagefriend{
        justify-content: flex-end;
    }
    .messagefriend p{
        text-align: left;
    }

    .messagehere .mymessage p::before{

        
        content: '';
        position: absolute;
        top: 0;
        left: -12px;
        width: 20px;
        height: 20px;
        background: linear-gradient(225deg,#dcf8c6 0%,#dcf8c6 50%, transparent 50% transparent);
    } 

    .chatinput{
        position: relative;
        height: 60px;
        width: 100%;
        background: #f0f0f0;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .chatinput ion-icon{
        cursor: pointer;
        font-size: 1.8em;
        color: #51585c;

        margin-right: 15px;
    }

    .chatinput input{
        position: relative;
        width: 90%;
        margin: 0 20px;
        padding: 10px 20px;
        border: none;
        outline: none;
        border-radius: 10px;
        font-size: 1em;
    }

.messagefriend span{
justify-content: right;

}
